<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
  
 	<!-- customer has a property name "address" -->
	<bean id="customer" class="cn.ffcs.msa.springdemo.six.Customer" autowire="byName" />
	
	<bean id="address" class="cn.ffcs.msa.springdemo.six.Address" >
		<property name="fulladdress" value="YiLong Road, CA 188" /> 
	</bean>
</beans>